.header {
    height: 100vh;
    position: relative;
}

.header::after {
    content: "";
    background: url("https://i.imgur.com/gj2sMZM.jpg");
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
}

.header p {
    font-size: 2em;
    font-weight: 400;
    color: #fff;
}
